.all-prod-card-container {
  width: 100%;
  margin: 0 0 1rem 0;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
}

.all-prod-card-container:hover {
  transform: translateY(-5px);
}

.all-prod-card-image {
  height: 230px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.all-prod-card-body {
  padding: 1rem;
  height: 100px;
  background: #fff;
  border-radius: 0 0 10px 10px;
}

.title-with-heart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -0.5rem;
}

.all-prod-card-title {
  margin-top: -7px;
  font-size: 1.2rem;
  font-weight: 600;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-grow: 1;
}

.all-prod-card-text {
  font-size: 0.95rem;
  color: #666;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.heart-icon {
  font-size: 1.5rem;
  color: #ff0000;
}

@media (max-width: 1024px) {
  .all-prod-card-image {
    height: 220px;
  }
  .all-prod-card-title {
    font-size: 1.1rem;
  }
  .all-prod-card-text {
    font-size: 0.9rem;
  }
  .all-prod-card-body {
    height: 90px;
  }

  .heart-icon {
    font-size: 1.4rem;
  }
}

@media (max-width: 767px) {
  .all-prod-card-container {
    width: 100%;
    margin: 0 0 1rem 0;
    box-sizing: border-box;
  }

  .all-prod-card-image {
    height: 200px;
  }

  .all-prod-card-title {
    font-size: 1rem;
  }

  .all-prod-card-text {
    font-size: 0.85rem;
  }
  .all-prod-card-body {
    height: 80px;
  }

  .heart-icon {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .all-prod-card-image {
    height: 150px;
  }

  .heart-icon {
    font-size: 1rem;
  }
}
