.footer {
  background-color: #abd5ff;
  padding: 1rem 0;
  width: 100%;
  flex-shrink: 0; /* Ngăn footer co lại khi không gian hẹp */
}

.footer-text {
  margin: 0;
  text-align: center;
  color: #6c757d;
  font-size: 0.9rem;
}
