.header {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0.5rem 0;
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: transform 0.3s ease-in-out; /* Hiệu ứng mượt khi ẩn/hiện */
}

.header.visible {
  transform: translateY(0); /* Hiện header */
}

.header.hidden {
  transform: translateY(-100%); /* Ẩn header lên trên */
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: auto;
  margin: 0 auto;
  padding: 0 1rem;
}

.header-brand {
  display: flex;
  align-items: center;
}

.header-logo {
  height: 45px;
  width: auto;
  object-fit: contain;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-icon-wrapper {
  position: relative;
  cursor: pointer;
}

.header-icon {
  font-size: 1.8rem;
  color: #007bff;
  transition: color 0.2s ease-in-out;
}

.header-icon:hover {
  color: #0056b3;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #ffffff;
  border: none;
  box-shadow: 1px 5px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 0.5rem 0;
  min-width: 150px;
  display: block;
}

.dropdown-item {
  padding: 0.5rem 1rem;
  font-size: 0.95rem;
  color: #333;
  transition: background-color 0.2s ease-in-out;
  text-decoration: none;
  display: block;
  border-radius: 20px;
}

.dropdown-item-logout {
  padding: 0.5rem 1rem;
  font-size: 0.95rem;
  color: #ff2323;
  transition: background-color 0.2s ease-in-out;
  text-decoration: none;
  display: block;
  border-radius: 20px;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
  color: #007bff;
}

.dropdown-item:active {
  background-color: #e9ecef;
}

.dropdown-item-logout:hover {
  background-color: #ff3737;
  color: #ffffff;
}

.dropdown-item-logout:active {
  background-color: #e9ecef;
}
