/* src/styles/ProductCard.css */
.prod-card {
  width: 330px;
  margin: 0 5px 1rem 5px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  display: inline-block;
  vertical-align: top;
}

.prod-card:hover {
  transform: translateY(-5px);
}

.prod-img {
  height: 250px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.prod-body {
  padding: 1rem;
  height: 100px;
}

.prod-title {
  margin-top: -7px;
  font-size: 1.2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: -0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.prod-text {
  font-size: 0.95rem;
  color: #666;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Responsive */
@media (max-width: 1199px) {
  .prod-card {
    width: 400px;
    margin: 0 15px 1rem 25px;
  }

  .prod-img {
    height: 240px;
  }

  .prod-body {
    height: 130px;
  }

  .prod-title {
    font-size: 1.6rem;
  }

  .prod-text {
    font-size: 1.3rem;
  }
}

@media (max-width: 1025px) {
  .prod-card {
    width: 400px;
    margin: 0 15px 1rem 25px;
  }

  .prod-img {
    height: 240px;
  }

  .prod-body {
    height: 130px;
  }

  .prod-title {
    font-size: 1.6rem;
  }

  .prod-text {
    font-size: 1.3rem;
  }
}

@media (max-width: 767px) {
  .prod-card {
    width: 300px;
    margin: 0 5px 1rem 5px;
  }

  .prod-img {
    height: 200px;
  }

  .prod-body {
    height: 100px;
  }

  .prod-title {
    font-size: 1rem;
  }

  .prod-text {
    font-size: 0.9rem;
  }
}

@media (max-width: 576px) {
  .prod-card {
    width: 190px;
    margin: 0 0 1rem 0;
  }

  .prod-img {
    height: 150px;
  }

  .prod-body {
    height: 70px;
  }

  .prod-title {
    font-size: 0.9rem;
  }

  .prod-text {
    font-size: 0.8rem;
  }
}

/* New Responsive Section for width < 400px */
@media (max-width: 400px) {
  .prod-card {
    width: 165px;
  }

  .prod-img {
    height: 130px;
  }

  .prod-body {
    height: 65px;
  }

  .prod-title {
    font-size: 0.85rem;
  }

  .prod-text {
    font-size: 0.75rem;
  }
}
