.regular-container {
  padding: 0rem 0;
}

.regular-title {
  font-size: 1.8rem;
  font-weight: 700;
  color: #333;
  text-align: center;
}

.regular-table {
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  border: 2px solid #000000;
}

.regular-table th {
  background-color: #007bff;
  color: #fff;
  font-weight: 600;
}

.regular-table td {
  vertical-align: middle;
}

.regular-table img {
  border-radius: 4px;
}

.regular-btn {
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  margin: 0 0.25rem;
}

.regular-btn:hover {
  opacity: 0.9;
}

.back-btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.back-btn:hover {
  opacity: 0.9;
}

.product-layout {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 20px; /* Thêm khoảng trắng giữa form và list */
}

.product-form-container {
  width: 30%; /* Giảm chiều rộng của form */
  padding-right: 0;
}

.product-list-container {
  width: 65%; /* Giảm chiều rộng của list */
  max-height: 680px; /* chiều cao của list container */
  overflow-y: auto; /* Cho phép cuộn khi danh sách dài */
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.regular-container {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
  width: 100%;
}
